<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <title>Pagina Web | {{titulo}}</title>
</head>

<body>
    
    {{> nav}}

    <!--Jumbotron Start-->
    <div class="jumbotron">
        <h1 class="display-4">Hola mundo </h1>
        <p class="lead">Esta es mi primera pagina web con boostrarp y express</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    {{> footer }}

</body>                       

</html>